<div class="home-background"></div>

<%# Colocamos o conteúdo original em uma div separada para podermos estilizá-lo. %>
<div class="home-content">
  <h1>SOCCER MANAGER</h1>
  <p>O seu gerenciador de times de futebol.</p>
</div>

